.loggedInStatusContainer {
  background-color: pink;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.loginButton {
  background-color: lightskyblue;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.loginButton:hover {
  cursor: pointer;
  background-color: lightblue;
}

.navItems {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.navItem {
  list-style: none;
}
